services:
  # Ana Uygulama
  tkgm:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tkgm
    environment:
      # PostgreSQL source veritabanı bağlantı bilgileri
      POSTGRES_SOURCE_HOST: ${POSTGRES_SOURCE_HOST}
      POSTGRES_SOURCE_PORT: ${POSTGRES_SOURCE_PORT}
      POSTGRES_SOURCE_DB: ${POSTGRES_SOURCE_DB}
      POSTGRES_SOURCE_USER: ${POSTGRES_SOURCE_USER}
      POSTGRES_SOURCE_PASS: ${POSTGRES_SOURCE_PASS}

      # PostgreSQL target veritabanı bağlantı bilgileri
      POSTGRES_TARGET_HOST: ${POSTGRES_TARGET_HOST}
      POSTGRES_TARGET_PORT: ${POSTGRES_TARGET_PORT}
      POSTGRES_TARGET_DB: ${POSTGRES_TARGET_DB}
      POSTGRES_TARGET_USER: ${POSTGRES_TARGET_USER}
      POSTGRES_TARGET_PASS: ${POSTGRES_TARGET_PASS}

      # Oracle veritabanı bağlantı bilgileri
      ORACLE_TARGET_HOST: ${ORACLE_TARGET_HOST:-}
      ORACLE_TARGET_PORT: ${ORACLE_TARGET_PORT:-1521}
      ORACLE_TARGET_SERVICE_NAME: ${ORACLE_TARGET_SERVICE_NAME:-}
      ORACLE_TARGET_USER: ${ORACLE_TARGET_USER:-}
      ORACLE_TARGET_PASS: ${ORACLE_TARGET_PASS:-}

      # WFS servis bilgileri
      TKGM_USERNAME: ${TKGM_USERNAME:-}
      TKGM_PASSWORD: ${TKGM_PASSWORD:-}
      TKGM_BASE_URL: ${TKGM_BASE_URL:-https://cbsservis.tkgm.gov.tr/tkgm.ows/wfs}

      # Uygulama ayarları
      MAX_FEATURES: ${MAX_FEATURES:-1000}
      STARTINDEX: ${STARTINDEX:-0}
      LOG_FILE: ${LOG_FILE:-logs/scraper.log}
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
    volumes:
      - .:/app
      - ./logs:/app/logs
    restart: unless-stopped
    command: [ "/entrypoint.sh" ]
    stdin_open: true
    tty: true
